html {
    background-color: plum;
}

div {
    background-image:url(IMG_4757.jpg);
    opacity:0.2;
    z-index:-1;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    padding: 40px;
    border-radius: 15px;
    border-color:paleturquoise;
    border-style:solid;
}

h1 {
    color:midnightblue;
    text-align: center;
    background-color:turquoise;
    text-shadow:2px 2px white;
}

h2 {
    color:midnightblue;
    text-align: center;
    background-color:turquoise;
    text-shadow:2px 2px white;
}

.button {
    color:palegreen;
    padding:40px;
    background-color:orchid;

}

p {
    color:midnightblue;
}

#nav {
	list-style-type: none;
	background-color:skyblue;
	padding: 25px;
	border-color:teal;
	border: 5px solid; 
	text-align: center;
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-evenly;
}


#nav a {
	color:slateblue;
	text-decoration:none;
	background-color:pink;
	padding: 10px;
	margin-left: -4px;
	text-align:center;
}

#nav ul {
	color:aliceblue;
	display: flex;
    justify-content: space-between;
}

#nav a:hover {
	text-decoration:overline;
	background-color:#FFF4F5;
}

#nav li {
	display: inline-block;
    padding: 10px;
	
}

img {
    border-color:palegreen;
    border-width:10px;
    border-style:solid;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.painting:hover {
	transform:scale(1);
	transition: 1s ease-in-out;
}

.row {
    display:flex;
}
.column {
    float:left;
    width:50%;
    padding:5px;
}