html {
    background-color:rgb(236, 232, 253);

}

div {
    display:block;
    position:relative;
    width:auto;
    height:auto;
}

div::after {
    content:"";
    background-image:url(IMG_4760.jpg);
    opacity:0.2;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-repeat:repeat;
    background-size:cover;
    z-index:-1;
    background-size:100%;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    padding: 40px;
    border-radius: 15px;
    border-color:paleturquoise;
    border-style:solid;
}

h1 {
    color:midnightblue;
    text-align: center;
    background-color:turquoise;
    text-shadow:2px 2px white;
}

h2 {
    color:midnightblue;
    text-align: center;
    background-color:turquoise;
    text-shadow:2px 2px white;
}

.button {
    color:palegreen;
    padding:40px;
    background-color:orchid;

}

p {
    color:midnightblue;
    text-shadow:1px 1px white;
}

#nav {
	list-style-type: none;
	background-color:rgb(5, 134, 185);
	padding: 8px;
	border-color:teal;
	border: 2px solid white; 
	text-align: center;
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-evenly;
}


#nav a {
	color:slateblue;
	text-decoration:none;
	background-color:pink;
	padding: 10px;
	margin-left: -4px;
	text-align:center;
}

#nav ul {
	color:aliceblue;
	display: flex;
    justify-content: space-between;
}

#nav a:hover {
	text-decoration:overline;
	background-color:#FFF4F5;
}

#nav li {
	display: inline-block;
    padding: 10px;
	
}

img {
    border-color:palegreen;
    border-width:10px;
    border-style:solid;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.painting:hover {
	transform:scale(1);
	transition: 1s ease-in-out;
}

.row {
    display:flex;
}
.column {
    float:left;
    width:50%;
    padding:5px;
}