html {
    background:lavenderblush;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    padding: 40px;
    border-radius: 15px;
    border-color:paleturquoise;
    border-style:solid;
}

h1 {
    color:midnightblue;
    text-align: center;
    background-color:powderblue;
    text-shadow:2px 2px white;
}

h2 {
    color:midnightblue;
    text-align: center;
    background-color: powderblue;
    text-shadow:2px 2px white;
}

.button {
    color:palegreen;
    padding:40px;
    background-color:orchid;

}

p {
    color:midnightblue;
}

#nav {
	list-style-type: none;
	background-color:skyblue;
	padding: 25px;
	border-color:teal;
	border: 5px solid; 
	text-align: center;
}


#nav a {
	color:slateblue;
	text-decoration:none;
	background-color:salmon;
	padding: 10px;
	margin-left: -4px;
	display:inline-block;
}
